*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0F141F;
}

.content1{
    margin-top: 80px;
    /* position: absolute; */
}
.content2{
    height: 400px;
    width: 1250px;
    border-radius: 10px;
    margin: 20px auto;
    background-color:#141927;
    display: flex;
    position: relative;
}

.content3{
    background-color: #141927;
    color: white;
    width: 537px;
    height: 400px;
    /* margin-top: 30px; */
    margin-left: 35px;
    margin-right: 30px;
}

.btn-content3{
    padding: 10px 20px;
    color : white;
    border: none;
    align-items: center;
    margin: 20px;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    background-color: #1B69D8;
}
.play-btn{
    margin-right: 10px;
}
.book-now{
    width: 120px;
    align-items: center;
    justify-content: center;
}
.watch-trailer-book{
    /* margin-right: 100px; */
}
.trailer-play{
    display: none;
    position: absolute;
    z-index: 1;
    /* margin-top: 30px; */
    align-items: center;
    justify-content: center;
    top: 100px;
    width: 1200px;
    height: 600px;
    left: 125px;
    opacity: 1;
    background-color: #141927;
}

.trailer-play-video{
    opacity: 1;
    /* margin-top: 30px; */
}
hr{
    width: 1200px;
    margin: auto;
    /* color: #141927; */
    height: 2px;
    background-color: #414c6d;
        border: none;
}
.close-btn{
    cursor: pointer;
}

.content3 h3{
    /* font-family: 'Alkatra', cursive; */
    font-family: 'Alkatra', cursive;
font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.content3 p{
    font-family: 'Alkatra', cursive;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Oxygen', sans-serif;
margin-bottom: 10px;

}
.btn-content3 h4{
    font-weight: 400;
    font-family: 'Alkatra', cursive;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Oxygen', sans-serif;
margin: 0px;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin-top:800px;
  margin:auto;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;

}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}






.review-screen{
  display: none;
  position: absolute;
  z-index: 1;
  /* margin-top: 30px; */
  align-items: center;
  justify-content: center;
  padding:50px;
  top: 100px;
  width: 1200px;
  height: 600px;
  left: 125px;
  opacity: 1;
  background-color: #141927;
}

.trailer-play-video{
  opacity: 1;
  /* margin-top: 30px; */
}

.close-btn1{
    cursor: pointer;
}

input{
	padidng:10px;
}

